* {
  padding: 0;
  margin: 0;
  text-align: center;
  overflow-x: hidden;
}
.table-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3vw;
}
.blank td::selection {
  background-color: transparent;
}
table {
  border: 0.5vw solid black;
}
th,
td {
  border: 0.25vw solid black;
}
.P5 {
  padding: 1.15vw;
}
.blank {
  color: transparent;
}
.blank table {
  border: 0.5vw solid black;
}
.blank th,
.blank td {
  border: 0.25vw solid black;
}
